/*Contributing members
Vivek Govindu
Will Gibson
Oliver Finnamore
Seth Lamay */
body
{
    background-color: aquamarine;
    font-family: Helvetica, sans-serif
}
#main-title
{
    text-align: center;
}
.stuff
{
    margin-bottom: 12px;
}